@import '/src/global/sass/abstracts/placeholders/placeholders';

.schedule {
  @extend %card;
  display: grid;
  margin: 40px 40px 40px 40px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 5fr;
  align-items: start;
  justify-items: start;
  padding: 30px 40px;

  &__title {
    display: grid;
    font-weight: 400;
    font-size: max(14px, 16px);
    color: #828282;
  }
}

@media (max-width: 768px) {
  .schedule {
    margin-bottom: 0;
  }
}
