@import '/src/global/sass/abstracts/placeholders/placeholders';

.schedule {
  margin: 47px;

  &__title {
    @extend %main-title;
    padding-bottom: 30px;
  }
}

.schedule-containers {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 47px;
  align-items: center;
  justify-items: center;

  &__container {
    @extend %card;
    display: grid;
    grid-template-columns: minmax(200px, 200px) minmax(100px, 150px);
    grid-template-rows: 2fr 3fr;

    .title {
      @extend %card-title;
      padding-left: 22px;
      padding-top: 18px;
      padding-bottom: 11px;
    }

    .couple {
      @extend %card-title;
      display: grid;
      justify-items: center;
      align-items: center;
    }

    .decription {
      @extend %sub-title;
      display: grid;
      align-items: center;
      padding-left: 22px;

      &__online {
        padding-bottom: 19px;
      }
    }

    .button-container {
      display: grid;
      justify-items: center;
      align-items: center;
      padding-bottom: 10px;

      .schedule-button {
        width: 50px;
        height: 50px;
        &__icon {
          color: white;
          font-size: 21px;
        }
      }
    }
  }
}
