@import '/src/global/sass/abstracts/placeholders/placeholders';

.schedule {
  @extend %card;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  align-items: start;
  justify-items: start;
  padding: 20px 25px;

  &__title {
    margin-bottom: 30px;
    display: grid;
    font-weight: 400;
    font-size: max(14px, 16px);
    color: #828282;
  }

  @media (max-width: 768px) {
    margin-bottom: 0;
  }
}
