@import '/src/global/sass/abstracts/placeholders/placeholders';

.card-material {
  display: grid;
  justify-content: center;
  grid-template: 1fr/ 0.8fr;

  &__container {
    @extend %card;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr auto;
    width: 100%;
    height: 100%;
  }

  &__title-container {
    display: grid;
    justify-items: center;
  }

  &__title-lecture {
    font-weight: 700;
    color: #254664;
    margin: 25px;
    text-align: center;

    @include adaptiv-font(20, 16);

    @media (min-width: 1440px) {
      font-size: 20px;
    }
  }

  &__file-container {
    display: grid;
  }
}
