.timetable {
  @extend %card;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  align-items: start;
  justify-items: start;
  padding: 20px 25px;

  &__title {
    margin-bottom: 30px;
    display: grid;
    font-weight: 400;
    font-size: max(14px, 16px);
    color: #828282;
  }

  &__empty {
    display: grid;
    justify-items: center;
    width: 100%;
  }

  @media (max-width: 768px) {
    margin-bottom: 0;
  }
}

.telegram-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  &__container {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  &__icon {
    width: 25px;
    height: 25px;

    fill: aqua;
  }
}
