.course-page {
  &__container {
    display: grid;
    grid-template-columns: 0.38fr 1fr;

    @media (max-width: 1257px) {
      display: grid;
      grid-template-rows: 0.38fr 1fr;
      grid-template-columns: 0.95fr;
    }
  }
}
