@import '/src/global/sass/abstracts/variables/colors';

// input

%input-border {
  box-shadow: 0 0 0 2px rgb(12 66 103 / 20%);
  border-color: $secondary-color;
}

.ant-input-affix-wrapper-focused {
  @extend %input-border;
  border-radius: 25px !important;
}

.ant-input-affix-wrapper {
  height: 45px;
  border-radius: 25px !important;

  .ant-input {
    bottom: 5px;
    background: transparent;
  }
}

.ant-input {
  border-radius: 25px !important;
  height: 45px;
  font-size: 15px;

  &:hover {
    border-color: $secondary-color;
  }

  &:focus {
    @extend %input-border;
  }
}

// buttons

.ant-btn {
  border-radius: 50px;
  height: 45px;
  align-self: center;
  font-size: 17px;
  font-weight: bold;
}

// layout
.ant-layout-sider-zero-width-trigger {
  background: transparent;
  font-size: 30px;
  top: 0;
  color: gray;
}
