@import '/src/global/sass/abstracts/variables/colors';

// input

%input-border {
  box-shadow: 0 0 0 2px rgb(12 66 103 / 20%);
  border-color: $secondary-color;
}

.ant-input-affix-wrapper-focused {
  @extend %input-border;
  border-radius: 25px !important;
}

.ant-input-affix-wrapper {
  height: 45px;
  border-radius: 25px !important;

  .ant-input {
    bottom: 5px;
    background: transparent;
  }
}

.ant-input {
  border-radius: 25px;
  height: 45px;
  font-size: 15px;

  &:hover {
    border-color: $secondary-color;
  }

  &:focus {
    @extend %input-border;
  }
}

// buttons

.ant-btn {
  border-radius: 50px;
  height: 45px;
  align-self: center;
  font-size: 17px;
  font-weight: bold;
}

// layout
.ant-layout-sider-zero-width-trigger {
  background: transparent;
  font-size: 30px;
  top: 0;
  color: gray;
}

.ant-layout {
  background-color: #ffffff;
}

// select
.ant-select {
  color: rgba(92, 92, 92, 0.212);
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border: 1px solid;
  border-radius: 100px;
  height: 45px !important;
}

.ant-select-selection-item {
  color: rgba(0, 0, 0, 0.85);
}

.ant-select-selection-placeholder {
  color: rgba(0, 0, 0, 0.7);
}

.ant-select-single.ant-select-lg:not(.ant-select-customize-input)
  .ant-select-selector
  .ant-select-selection-placeholder,
.ant-select-selection-search-input,
.ant-select-selection-item {
  line-height: 45px !important;
  height: 45px !important;
}

.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input)
  .ant-select-selector {
  @extend %input-border;
}

// drop-down menu

.ant-dropdown-menu {
  background: #ffffff;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 15px;
}

.ant-dropdown-menu-item {
  border-radius: 15px;
}

.ant-dropdown-menu-item-icon {
  font-size: 24px;
  color: #254664;
}

.ant-dropdown-menu-title-content {
  font-weight: 400;
  font-size: 15px;
}

// tabs

.ant-tabs-tab {
  font-size: max(1.1vw, 14px);
  font-weight: 500;
}

.ant-tabs-tab:hover {
  color: rgba(36, 41, 47, 0.85);
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  font-weight: 600;
  color: #254664;
}

.ant-tabs-ink-bar {
  background: #254664;
  border-right: 6px solid #254664;
  border-radius: 10px;
}

.ant-tabs-tab + .ant-tabs-tab {
  margin: 0 0 0 93px;
}

.ant-tabs-content-holder {
  border-left: 6px solid #e7e7e7 !important;
  margin-left: -6px !important;
}

.ant-tabs-nav {
  height: 78vh;
}

// road
.ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon .ant-steps-icon-dot {
  background: #0c4469;
}

.ant-steps-item-process .ant-steps-item-icon > .ant-steps-icon .ant-steps-icon-dot {
  background: #0c4469;
}

.ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-tail::after {
  background: #0c4469;
}

.ant-steps-item-title {
  font-weight: 400;
  font-size: 16px !important;
}

//progress
.ant-progress-text {
  color: rgba(79, 79, 79, 0.6);
}

//@at-root
.ant-upload.ant-upload-select-picture-card {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}

//empty

.ant-empty {
  height: 250px;
  display: grid;
  align-content: center;
}

.ant-empty-image {
  height: 150px;
}

//table

.ant-table-thead > tr > th {
  font-weight: 700 !important;
  font-size: 16px;
}

.ant-table-tbody > tr.ant-table-row-selected > td {
  background: #d9e1e4;
}

.ant-table-tbody > tr.ant-table-row-selected:hover > td {
  background: #d9e1e4;
}

//menu

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background: #d9e1e4;
}
