@import '/src/global/sass/abstracts/placeholders/placeholders';

.assignment-info {
  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }

  &__title-container {
    margin: 20px;
  }

  &__button-container {
    grid-column-start: 2 span;
    margin-bottom: 30px;
  }

  &__button-pass {
    width: 198px;
    height: 45px;
    margin-top: 10px;
    margin-bottom: 30px;
    @extend %button-title;
  }
}

.title {
  &__status {
    padding-bottom: 10px;
    font-weight: 600;
  }

  &__mark {
    font-weight: 500;
    padding-bottom: 10px;
  }
}
