@import '/src/global/sass/abstracts/placeholders/placeholders';

.mark {
  margin-left: 32px;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
}

.button-pass {
  width: 198px;
  height: 45px;
  margin-top: 10px;
  margin-left: 32px;
  margin-bottom: 30px;
  @extend %button-title;
}
