@import '/src/global/sass/abstracts/placeholders/placeholders';

.home-page {
  display: grid;

  &__name-container {
    display: grid;
    align-items: center;
    margin: 25px 45px 0px 45px;
    @extend %main-title;
  }

  .container-statistics {
    display: grid;
    grid-template-columns: minmax(100px, 1200px) minmax(100px, 400px);
    align-items: start;
  }

  .container-chart {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(440px, 1fr));
    grid-template-rows: minmax(400px, 410px);
    justify-content: space-between;
  }

  .home-page-column {
    @extend %card;
    padding: 30px 40px;
    margin: 40px 20px 40px 40px;

    .column-name {
      font-weight: 400;
      font-size: max(14px, 16px);
      color: #828282;
    }
  }

  .home-page-liquid {
    @extend %card;
    margin: 40px 20px 40px 20px;
    padding: 30px 40px;

    .liquid-name {
      font-weight: 400;
      font-size: max(14px, 16px);
      color: #828282;
    }
  }
}

.course {
  margin: 0px 40px 40px 40px;

  &__title-container {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    font-weight: 400;
    font-size: max(1.2vw, 20px);
    color: #000000;
    padding-bottom: 30px;
  }
}

.course-card {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 40px;
  align-items: center;
  justify-items: center;
}

@media (max-width: 1500px) {
  .home-page-column {
    margin: 40px !important;
  }

  .home-page-liquid {
    margin: 40px !important;
  }
}

@media (max-width: 536px) {
  .home-page-column, .home-page-liquid, .container-statistics-cards {
    display: none;
  }
}

@media (max-width: 1260px) {
  .container-statistics {
    display: grid !important;
    grid-template-columns: repeat(auto-fill, minmax(250px, 600px)) !important;
    align-items: start !important;
  }
}
