@import '/src/global/sass/abstracts/placeholders/placeholders';

.home-page {
  &__name-container {
    display: grid;
    align-items: center;
    margin: 25px 45px 0px 45px;
    @extend %main-title;
  }

  &__content-container {
    display: grid;
    grid-template-columns: 2.1fr 1fr;

    @media (max-width: 1645px) {
      grid-template-columns: 2.2fr 1.1fr;
    }

    @media (max-width: 1576px) and (min-width: 1257px) {
      grid-template-columns: 2fr 1.2fr;
    }

    @media (max-width: 1257px) {
      display: grid;
      grid-template-rows: auto 1fr;
      grid-template-columns: 1fr;
      justify-content: center;
    }
  }

  &__course {
    margin: 40px;

    @media (max-width: 1257px) {
      display: grid;
      grid-row-start: 2;
    }
  }

  &__activity {
    display: grid;
    grid-auto-rows: min-content;
    grid-template-columns: auto;
    gap: 40px;
    margin: 40px 40px 40px 0px;
    top: 30px;
    position: sticky;
    height: max-content;

    @media (max-width: 1257px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin: 40px;
      position: static;
    }

    @media (max-width: 846px) {
      display: grid;
      grid-template-columns: 1fr;
      margin: 40px;
    }
  }
}

.course-card {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 40px;
  align-items: center;
  justify-items: center;
}
