@import '/src/global/sass/abstracts/placeholders/placeholders';

.home-page {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));

  .container-statistics {
    display: grid;
    align-items: center;

    @media (max-width: 1486px) {
      display: grid;
      grid-column-start: 1;
      grid-column-end: 3;
    }

    @media (max-width: 1024px) {
      display: none !important;
    }
  }

  &__name-container {
    display: grid;
    align-items: center;
    margin: 25px 45px 0px 45px;
    @extend %main-title;
  }

  @media (max-width: 1486px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 1fr;
  }

  @media (max-width: 1024px) {
    display: grid;
    grid-template-columns: 92%;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
  }
}

.course {
  margin: 0px 40px 40px 40px;

  &__title-container {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    font-weight: 400;
    font-size: max(1.2vw, 20px);
    color: #000000;
    padding-bottom: 30px;
  }
}

.course-card {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 40px;
  align-items: center;
  justify-items: center;
}
