.topic-material {
  &__table_topic-container {
    padding: 30px;
    @extend %card;
    margin-bottom: 30px;
  }

  &__table_title {
    font-weight: 600;
    line-height: 22px;
    color: #254664;
    @include adaptiv-font(25, 20);
    margin-bottom: 30px;
  }
}

.table-row-select {
  background-color: #0b446a;
  color: white;
}

.table-row-default {
  background-color: #ffffff;
}
