@import '/src/global/sass/abstracts/placeholders/placeholders';

.topic-material {
  &__table_topic-container {
    padding: 30px;
    @extend %card;
    margin-bottom: 30px;
  }

  &__table_title {
    font-weight: 600;
    line-height: 22px;
    color: #254664;
    @include adaptiv-font(25, 20);
    margin-bottom: 30px;

    @media (min-width: 1440px) {
      font-size: 25px;
    }
  }
}

.topic-name {
  font-weight: 600;
  font-size: max(10px, 16px);
  cursor: pointer;
}

.topic-date {
  font-weight: 600;
}

.topic-icons {
  font-size: 17px;
  margin-right: 15px;
  cursor: pointer;
}

.topic-icon-container {
  display: grid;
  grid-auto-flow: column;
}

.table-row-select {
  background-color: #0b446a;
  color: white;
}

.table-row-default {
  background-color: #ffffff;
}
