@import '/src/global/sass/abstracts/placeholders/placeholders';

.passed-modal {
  padding: 30px;

  &__title {
    display: grid;
    justify-content: center;
    font-weight: 600;
    @extend %modal-title;
    @include adaptiv-font(26, 20);
  }

  &__dragger {
    display: grid;
    grid-template-columns: 0.8fr;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  &__button-container {
    display: grid;
    justify-content: center;
  }

  &__button{
    width: 200px;
  }
}
