@import '/src/global/sass/abstracts/placeholders/placeholders';

.activities {
  &__table_title {
    font-weight: 600;
    line-height: 22px;
    color: #254664;
    @include adaptiv-font(25, 20);
    margin-bottom: 30px;

    @media (min-width: 1440px) {
      font-size: 25px;
    }
  }
}
