.grade-page {
  display: grid;

  &__name-container {
    display: grid;
    align-items: center;
    margin: 25px 45px 0px 45px;
    @extend %main-title;
  }

  &__table-container {
    display: grid;
    grid-template: 1fr / 0.8fr;
    justify-content: center;
    align-content: center;
    margin-top: 45px;
    margin-bottom: 40px;
  }

  &__select-container {
    display: inline-grid;
    grid-auto-flow: column;

    @media (max-width: 930px) {
      display: grid;
      justify-items: center;
      grid-auto-flow: row;
    }
  }

  &__card {
    @extend %card;
    padding: 40px;
  }

  &__table {
    display: grid;
  }

  &__select {
    padding: 20px;
    @media (max-width: 930px) {
      width: 100%;
    }
  }
}

.grade-select {
  width: 25%;
}

.grade-name {
  color: #254664;
  font-weight: 600;
  font-size: max(10px, 16px);
}

.grade-mark {
  font-weight: 600;
  font-size: max(13px, 14px);
  color: #4f4f4f;
}

.grade-interval {
  font-weight: 600;
  font-size: max(13px, 14px);
  color: #4f4f4f;
}
