@import '/src/global/sass/abstracts/variables/colors';
@import '/src/global/sass/abstracts/placeholders/placeholders';

.header {
  background: $color__background-header_home;
  height: 120px;
  border-bottom: 0.5px solid $color__background-header_line;
  align-items: center;
  font-size: 14px;

  .header-page {
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 20px 0;

    &__name-container {
      display: grid;
      align-items: center;
      @extend %main-title;
    }

    &__items-container {
      display: grid;
      grid-auto-flow: column;
      align-items: center;

      .image-container {
        @extend %image-avatar;
      }

      .name-container {
        @extend %sub-title;
        padding-left: 30px;
        padding-right: 11px;
      }
    }
  }
}
