@import '/src/global/sass/abstracts/variables/colors';
@import '/src/global/sass/abstracts/placeholders/placeholders';

.header {
  background: $color__background-header_home;
  height: 80px;
  font-size: 14px;

  .header-page {
    display: grid;
    grid-auto-flow: column;
    justify-content: end;
    padding: 20px 0 20px 0;

    &__items-container {
      display: grid;
      grid-auto-flow: column;
      align-items: center;
      gap: 20px;

      .profile-icon {
        width: 45px;
      }

      .name-container {
        @extend %sub-title;
      }
    }
  }
}
