@import '/src/global/sass/abstracts/variables/colors';
@import '/src/global/sass/abstracts/variables/typography';

.sidebar {
  background: $color__background-sidebar;
  height: 100vh;
  position: sticky;
  left: 0;
  top: 0;
  bottom: 0;

  &__top {
    display: grid;
    place-items: center;
    grid-auto-flow: column;
    margin-top: 56px;
    width: 70%;
    margin-left: 50px;
    grid-template-columns: 1fr 2fr;
  }

  &__logo-image {
    min-width: 45px;
  }

  &__logo-image img {
    width: 70px;
  }

  &__logo-name {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #ffffff;
    font-family: $font__logo;
  }

  &__center {
    margin-top: 20%;

    &__nav-links {
      padding-right: 50px;
      padding-left: 30px;
    }

    li {
      list-style: none;
    }

    li a {
      display: grid;
      grid-auto-flow: column;
      grid-template-columns: 50px auto;
      align-items: center;
      height: 4rem;
      color: white;
      padding-left: 29px;
    }

    span {
      text-align: left;
      font-style: normal;
      font-weight: 800;
      font-size: 18px;
      line-height: 22px;
    }

    li a:hover {
      border: 0.56px solid #ffffff;
      border-radius: 10px;
    }
  }

  &__icon {
    min-width: 30px;
    min-height: 30px;
    padding-top: 6px;
  }
}

@media (max-width: 767px) {
  .sidebar {
    position: fixed;
    z-index: 2;
  }
}
