@import '/src/global/sass/abstracts/variables/colors';
@import '/src/global/sass/abstracts/variables/typography';

.sidebar {
  background: #ebebeb;
  height: 100vh;
  position: sticky;
  left: 0;
  top: 0;
  bottom: 0;

  &__top {
    display: grid;
    place-items: center;
    align-items: center;
    justify-items: center;
    margin-top: 56px;
  }

  &__logo-image {
    min-width: 45px;
  }

  &__logo-image img {
    width: 70px;
  }

  &__center {
    margin-top: 50%;

    &__nav-links {
      padding-right: 30px;
      padding-left: 30px;
    }

    li {
      list-style: none;
    }

    li a {
      display: grid;
      justify-items: center;
      grid-auto-flow: column;
      align-items: center;
      height: 5rem;
      color: white;
    }

    .icon-container {
      display: grid;
      align-items: center;
      justify-items: center;
      background: rgba(37, 70, 100, 0.75);
      box-shadow: 0px 10px 23px rgba(0, 0, 0, 0.25);
      border-radius: 4px;
      width: 42.11px;
      height: 40px;
    }

    li a.active,
    li:hover {
      .icon-container {
        background: #254664;
        box-shadow: 0px 10px 23px rgba(0, 0, 0, 0.25);
        border-radius: 4px;
      }

      .sidebar__icon {
        color: #ffffff;
      }
    }
  }

  &__icon {
    color: #ffffff;
    font-size: 22px;
    min-width: 30px;
    min-height: 30px;
    padding-top: 4px;
  }
}

@media (max-width: 767px) {
  .sidebar {
    position: fixed;
    height: 100%;
    z-index: 2;
  }
}
