// Center block
@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
  width: map-get($columns, $numberColumns) -
    (($columns__margin * ($numberColumns - 1)) / $numberColumns);
}

@mixin adaptiv-font($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $maxWidthView: $maxWidth - 414;
  @media (min-width: #{$maxWidth + px}) {
    font-size: #{$pcSize + px};
  }
  @media (max-width: #{$maxWidth + px}) {
    font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 414px) / #{$maxWidthView}));
  }
}
