@import '/src/global/sass/abstracts/placeholders/placeholders';

.statistics {
  margin: 40px 20px 40px 40px;

  .statistics-containers {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(163px, 1fr));
    grid-gap: 40px;
    align-items: center;
    justify-items: center;

    &__container {
      @extend %card;
      display: grid;
      grid-template-columns: minmax(170px, 240px);
      grid-template-rows: 1fr 0.7fr;
      padding: 17px 0 10px 0;

      .title-container {
        @extend %card-title;
        display: grid;
        grid-template-columns: 0.2fr 1fr;
        grid-template-rows: 1fr;
      }
    }

    .title-text {
      display: grid;
      align-items: center;
      padding-right: 7px;
      font-weight: 400;
      font-size: 16px;
      line-height: 15px;
      color: #4f4f4f;
    }

    .title-icon {
      padding-left: 16px;
      padding-right: 7px;
      width: 45px;
      height: 45px;
    }

    .number {
      display: grid;
      align-items: center;
      font-weight: 400;
      font-size: 32px;
      line-height: 44px;
      color: #4f4f4f;
      padding-left: 16px;
    }
  }
}
