@import '/src/global/sass/abstracts/placeholders/placeholders';

.course-modal {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, auto);
  grid-gap: 26px;
  align-items: center;
  justify-items: center;

  &__title-container {
    @extend %modal-title;
  }

  &__input-container {
    width: 80%;
  }

  &__description-container {
    width: 100%;
    display: grid;
    justify-items: center;
  }

  &__select-container {
    width: 80%;
    display: grid;
    align-items: center;
  }

  &__upload-container {
    width: 80%;
  }

  &__button-container {
    justify-items: center;
  }

  &__input {
    height: 40px;
    background-color: #ffffff;
    border: 1px solid #5c5c5c;
    border-radius: 50px;
  }

  &__area {
    border: 1px solid #5c5c5c;
    width: 80%;
    border-radius: 10px;
    margin-bottom: 10px;
  }

  &__select {
    width: 100%;
  }

  &__button {
    width: 197px;
    height: 45px;
    margin-top: 40px;
  }
}
