.card-material {
  display: grid;
  justify-content: center;
  grid-template-columns: minmax(750px, 0.7fr);
  padding-bottom: 30px;

  &__container {
    @extend %card;
  }

  &__title-container {
    display: grid;
    justify-items: center;
  }

  &__title-lecture {
    font-weight: 700;
    color: #254664;
    margin: 25px;
    text-align: center;
    @include adaptiv-font(20, 16);
  }

  &__button-pass-container {
    display: grid;
    justify-items: center;
  }

  &__button-pass {
    width: 200px;
    font-weight: 600;
    margin-bottom: 30px;
  }
}
