.ant-modal-content {
  border-radius: 10px;
}

.practical-modal-title {
  display: grid;
  justify-content: center;
  margin-top: 29px;
  margin-bottom: 29px;
  font-weight: 500;
  font-size: 20px;
  color: #000000;
}

.practical-modal-button {
  margin-top: 20px;
  display: grid;
  justify-content: center;
}
