.course-material {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 90%;
  justify-content: center;

  &__title-container {
    display: grid;
    justify-items: center;
    margin-bottom: 50px;
    @extend %main-title;
  }

  &__table_material-container {
    padding: 30px;
    @extend %card;
    margin-top: 30px;
    margin-bottom: 60px;
  }

  &__plus-icon {
    padding-left: 12px;
    cursor: pointer;
  }
}