@import '/src/global/sass/abstracts/placeholders/placeholders';

.course-page {
  display: grid;
  grid-template-columns: repeat(2, auto);

  &__name-container {
    display: grid;
    align-items: center;
    margin: 25px 45px 0px 45px;
    @extend %main-title;
  }

  &__table-container {
    margin-top: 70px;
    margin-bottom: 40px;
    display: grid;
    justify-items: center;
    align-items: center;
  }

  &__button-container {
    display: grid;
    justify-items: end;
  }

  &__button-connect {
    margin-top: 10px;
    margin-right: 48px;
    width: 170px;
    height: 45px;
    @extend %button-title;
  }

  &__table {
    width: 80%;
    padding: 40px 40px 20px 40px;
    @extend %card;
  }
}

.course-name {
  color: #254664;
  font-weight: 600;
  font-size: max(10px, 16px);
  cursor: pointer;
}

.course-name:hover {
  color: rgba(37, 70, 100, 0.5);
}

.course-teacher {
  font-weight: 600;
  font-size: max(13px, 14px);
  color: #4f4f4f;
}

.course-count {
  font-weight: 400;
  font-size: max(13px, 14px);
  color: #4f4f4f;
}

@media (max-width: 500px) {
  .course-page__table {
    overflow-x: scroll;
  }
  .course-page__name-container {
    text-align: left;
  }
}
